<h1>Home Page</h1>

<div>
    <h2>Simple Music App</h2>

    <h4>For all users</h4>
    
    <ul>
        <li>List of songs ordered by popularity depending on the popularity metric</li>
        <li>Search songs based on keywords</li>
        <li>Display Song information</li>
        <li>View all reviews for the song - review, rating, reviewer's username</li>
    </ul>
    
<!-- for the authenticated
    <h4>For Authenticated Users</h4>
    <ul>
        <li>Add a review to the song</li>
        <li>Add a rating</li>
        <li>Add a new song - supports ID3v1 attriutes</li>
        <li>Add a review when adding the song</li>
    </ul>
-->

    
</div>



<button href = "#" routerLink = "/login">Log In</button>

